extends layout

block content
  div.container
    h1 Download af postnumre
    div.page-header
      p.lead Download af Danmarks postnumre.

  div.container
    div.row

      div.col-md-9
        h2 Danmarks postnumre
        div.table-responsive
          table.table.table-striped
            thead
              tr
                th CSV
                th GeoJSON
                th JSON
            tbody
              tr
                th <a href='#{url}?format=csv'>download</a>
                th <a href='#{url}?format=geojson'>download</a>
                th <a href='#{url}?format=json'>download</a>

block append scripts
  script(type='text/javascript').
    const topbarliEls = document.querySelectorAll('#topbar li')
    const linkEl = document.querySelector('#topbar li a[href="postnumre"]')
    topbarliEls.forEach((li) => { li.classList.remove('active') })
    linkEl.parentElement.classList.add('active')
    